.perfumes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.perfumes h1 {
    text-align: center;
    color: #552E57;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .imgPerfumes {
    width: auto;
    height: 950px;
    margin-top: 30px;
  }

/*resposive para tablet*/
@media (min-width: 1002px) {

    .imgPerfumes {
      height: 370px;
      margin: 15px;
    }
  }
  
  /*resposive para tablet2*/
  @media (min-width: 800px) {
    .imgPerfumes {
      height: 320px;
    }
  }
  
  /*resposive para mobil1*/
  @media (min-width: 768px) {
    .imgPerfumes {
      height: 280px;
    }
  }
  
  /*resposive para mobil2*/
  @media (min-width: 650px) {
    .perfumes {
      margin-bottom: 10px;
      flex-direction: column;
      align-items: center;
    }
    .imgPerfumes {
      height: 320px;
      margin: 10px;
    }
  }
  

