.header{
    background: #490745;
    height: 70px;
    width: 100%;
}

.logo {
    height: 45px;
    margin: 10px 40px;
  }

.section {
    text-align: center;
    color: #8a3377;
    max-width: 540px;
    margin: 50px auto;
  }
  
  .section h1 {
    font-size: 35px;
    font-family: 'Courgette', cursive;
    padding: 20px 0px;
  }

  /*resposive para table*/
@media (max-width: 1002px) {
 
    .section {
      max-width: 480px;
    }
  
    .section h1 {
      font-size: 40px;
      padding: 15px 35px;
    }
  
  }
  
  /*resposive para mobil*/
  @media (max-width: 738px) {
  
    .section {
      max-width: 350px;
      margin: 165px auto;
    }
  
    .section h1 {
      font-size: 28px;
      padding: 15px 35px;
    }
  
  }
  