.header{
    background: #1a1a1a;
    height: 50px;
    width:100%;
    display: flex;
    justify-content: center;
}

.logo {
    height: 30px;
    margin: 15px 20px;
  }

  /*resposive para table*/
@media (min-width: 1002px) {}
  
  /*resposive para mobil*/
  @media (min-width: 738px) {}
  