* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.contacto{
  display: flex;
  margin-bottom: 1px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1a1a1a;
}

.contacto a{
  color: white;
}

.contacto_enlace {
  display: flex;
  align-items: center;
}
.contacto_enlace img{
  height: 30px;
  margin: 15px 10px;
}

.contacto_redes {
  margin-top: 10px;
  margin-bottom: 20px;
}

.contacto_redes a{
  padding: 4px;
}

.contacto_redes img{
  width: 30px;
}

.copyright {
  background-color: #1a1a1a;
  color: white;
  height: 40px;
}
.copyright p {
  font-size: 12px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

